body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* #App {
  background-image: url("./background.svg");
  background-size: 100vw auto; 
} */

.global {
  background-image: url("./background.svg") ;
  background-size: 25vh; 
}

body, html {
  height: 100%;
  margin: 0;
}